#DB CONFIG
DB_USER=
DB_PASSWORD=
DB_SERVER=
DB_DATABASE=
DB_PORT=

#PROJECT CONFIG
PORT=
NODE_ENV=
API_KEY=

#JWT SETTINGS
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=
R2_REGION=auto